/* ================================
        Base css
================================ */
ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

a{
  text-decoration: none;
}

.content-grid {
  display: grid;
  grid-template-columns: 10px auto 10px;
  grid-template-areas: ". content .";

  .content-grid-item {
    grid-area: content;
  }
}

.section-content{
  padding: 56px 0 50px;

  h1{
    margin-bottom: 30px;
  }
}
