/* ================================
        About Us
================================ */
.about-quote{
  margin-top: 20px;
  background-color: $lightGray;
  padding: 31px 0 16px;

  span{
    color: $lightBlue;
  }
}

#about{
  background-color: $white;
  padding-bottom: 20px;
  h1{
    text-align: center;
  }

  p{
    color: $textGray;
  }
}

#fred {
    margin-bottom: 50px;
  a {
    color: $textGray;
    border: 0px;
  }
}
