/* ================================
        Assets
================================ */
#assets {
  text-align: center;
  ul{
    li{
      h2{
          padding: 18px 0 7px;
      }
    }
  }

  p {
    color: $textGray;
    margin: 23px 0 37px;
  }

  img{
    padding-bottom: 20px;
  }


}
