/* ================================
        Heroes
================================ */
#hero-1 {
  color: $white;
  text-align: center;
  background-image: url("../img/hero/hero-1.jpg");
  background-size: cover;
  background-position: center;
  padding: 62px 0 107px;

  #blue-order {
    background-color: $lightBlue;
    border: 0;
    border-radius: 2px;
    padding: 12px 9px;
    color: $white;
  }

  #read-more {
    color: $white;
    border: 0;
  }
}

#hero-2 {
  text-align: center;
  background-color: $lightGray;
  img{
    margin: 24px 0;
    width: 100%;
  }

  p {
    color: $textGray;
  }


    article{
        text-align: left;
        margin-top: 16px;

        p{
          padding: 23px 0 34px;
        }
    }

}
