/* ================================
        Pricing
================================ */
#price{
    background-color: $lightGray;

    h1{
      text-align: center;
    }

    p{
        color: $textGray;
        padding-bottom: 10px;
    }

    #link-email{
      color: $lightBlue;
    }

    section{
        background-color: $lightBlue;
        color: $white;
        padding: 26px 0 30px;
        margin: 16px 0 -8px;
        h1{
            margin: 0;
        }
    }

    ul{
        background-color: $white;
        padding: 10px;
        padding-bottom: 57px;
    }

    li{
      padding-top: 35px;

      .check{
        padding-right: 6px;
      }

      .info{
        padding-left: 11px;
      }
    }
}
